*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.main-photo {
    float: left;
    size: 500px;
}

/* section.tree_image img {
    float: right;
    width: 25%;
    height: auto;
} */

/* section.p {
    flex-wrap: wrap;
    font-family: "Segoe UI";
    color: rgb(15, 14, 14);
    margin: 0;
    float: left;
    width: 100%;
} */

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Segoe UI";
    color: rgb(15, 14, 14);
    margin: 0;
}

header {
    padding: 10px 20px;
    background-color: #F5F5F5;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 2%;
}

nav ul {
    display: flex;
    display: row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav li {
    display: flex;
    display: row;
    justify-content: space-evenly;
    display: inline;
    margin-left: 0.5rem; 
}

.logo-container{
    display: inline-flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container img {
    width: 3rem;
    height: 3rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

footer {
    text-align: center;
    background-color: #BF7631;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
}

footer img {
    width: 4rem;
    height: 4rem;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 25px;
}

.product {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 250px;
    height: 250px;
    outline: .1rem solid black;
    object-fit: cover;
}

.product-name {
    display: block;
    text-align: right;
    white-space: nowrap;
    margin-right: 45px;
    font-family: "Segoe UI";
    color: rgb(33, 31, 31);
    border-bottom: 2px solid black;
}

.product-price {
    display: block;
    text-align: left;
    margin-left: 45px;
    font-family: "Segoe UI";
    color: rgb(33, 31, 31);
}

.product-description {
    width: 250px;
    font-family: "Segoe UI";
    font-size: medium;
    font-style: unset;
    color: rgb(33, 31, 31);
    word-wrap: break-word;
    margin: 0
}

.learn-more-btn {
    color: #BF7631;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-right: 25px;
    font-family: "Segoe UI";
    text-decoration: underline;
    cursor: pointer;
}

.add-to-cart-btn {
    font-family: "Segoe UI";
    background-color: #BF7631;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 65px;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: #cfcccc;
}

.add-to-cart-btn:active {
    background-color: #cfcccc;
}

.contact-us {
    display: block;
    text-align: right;
    white-space: nowrap;
    margin-right: 45px;
    font-family: "Segoe UI";
    color: rgb(33, 31, 31);
    border-bottom: 2px solid black;
}