*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI";
    background-color: purple;
    color: white;
    margin: 0;
}

header {
    background-color: green;
    position: relative;
    padding: 1rem;
}

nav a {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: left;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

nav img {
    position: relative;
    size: 5px;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

footer {
    text-align: center;
    background-color: darkslategrey;
    padding: 4rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}